.coding-container {
    display: flex;
    height: 100vh; /* 전체 화면 높이 */
}

.coding-page-container {
    flex-grow: 1; /* 남은 영역을 차지하도록 설정 */
    overflow-y: auto; /* 내용이 많을 경우 스크롤 가능 */
    width: 100%;
}

.coding-page-list-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.coding-page-list-section-name {
    margin-bottom: 1rem;
}

.coding-page-list {
    list-style-type: none;
    padding: 0;
}

.coding-page-list li {
    margin-bottom: 0.5rem;
}

.coding-page-detail-container {
    position: absolute;
    top: 50%;
    left: 50%;
}
